<div class="app-namespace">
  <h1>App</h1>
  <h3>Angular 8.3</h3>
  <nav>
    <ul>
      <!-- <li>
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li> -->
      <li>
        <a routerLink="/products" routerLinkActive="active">Products</a>
      </li>
      <li>
        <a routerLink="/section-one" routerLinkActive="active">Section One</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
    </ul>
  </nav>
  <div class="dyno-content">
    <router-outlet></router-outlet>
  </div>
</div>
