<div class="app-pg">
  <header>
    <div class="content">
      <div class="co">Products Demo</div>
    </div>
    <nav>
      <div class="content">
        <ul>
          <li>
            <a routerLink="/products" routerLinkActive="active">Products</a>
          </li>
          <li>
            <a routerLink="/section-one" routerLinkActive="active"
              >Section One</a
            >
          </li>
          <li>
            <a routerLink="/about" routerLinkActive="active">About</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="dyno-content">
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="content">
      <h6>Footer</h6>
    </div>
  </footer>
</div>
