/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: $screen-sm-min) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: $screen-md-min) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: $screen-xl-min) {
    @content;
  }
}

.app-pg {
  /* Device ID */
  &:before {
    content: "Mobile";
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
  }

  /* site definitions tags */
  a:link,
  a:visited {
    color: #3352df;
  }
  a:focus,
  a:hover,
  a:active {
    color: #fff;
    text-decoration: none;
    background: #3352df;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.65rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }

  button {
    padding: 0.3rem 1rem;
    background: #333;
    color: #fff;
    font-size: 1rem;
    border-radius: 20px;
    text-decoration: none;
    font-family: helvetica, arial, sans-serif;
    font-weight: 400;
    border: 1px solid #333;
    cursor: pointer;
    margin-right: 1rem;
  }

  button:focus,
  button:hover {
    background: #fff;
    color: #333;
  }

  /* site defintions classes */
  .content {
    padding: 0 1rem;
    margin: auto;
    max-width: 100rem;
  }

  /* landmarked areas */
  header {
    .co {
      font-size: 2rem;
      font-weight: 400;
      margin: 1rem 0;
    }
    nav {
      background: #2796aa;
      ul {
        list-style-type: none;
        display: table;
        padding: 0;
        margin: 0;
        li {
          display: table-cell;
          a {
            padding: 1rem 2rem;
            font-weight: bold;
            text-decoration: none;
            display: block;
          }
          a.active {
            background: #2a7a88;
          }
          a:link,
          a:visited {
            color: #fff;
            transition: background 0.5s;
          }
          // a:link:after,
          // a:visited:after {
          //   content: "\02C5";
          //   position: relative;
          //   right: 0;
          //   top: 0;
          //   transition: top 0.5s;
          //   margin: 0 0 0 0.4rem;
          // }
          a:focus,
          a:hover,
          a:active {
            text-decoration: none;
            background: #2a7a88;
            transition: background 0.2s;
          }
          // a:active:after {
          //   top: 0.2rem;
          //   transition: top 0.5s;
          // }
        }
      }
    }
  }
  footer {
    background: #000;
    color: #fff;
    padding: 1rem;
    margin: 1rem 0 0 0;
  }

  @include sm {
    /* Device ID */
    &:before {
      content: "Mobile Landscape";
    }
  }
  @include md {
    /* Device ID */
    &:before {
      content: "Tablet";
    }
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 2.7rem;
    }
    h3 {
      font-size: 2rem;
    }
    h4 {
      font-size: 1.5rem;
    }
    h5 {
      font-size: 1.35rem;
    }
    h6 {
      font-size: 1.2rem;
    }
  }
  @include lg {
    /* Device ID */
    &:before {
      content: "Desktop";
    }
    .products {
      display: grid;
      grid-template-columns: repeat(2, 50% [col]);
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
    }
  }
  @include xl {
    /* Device ID */
    &:before {
      content: "Desktop LG";
    }
  }
}
