.hero {
  background: #add0d6;
}
.products {
  padding: 0 1rem;
  max-width: 100rem;
  margin: auto;
  .item-wrap {
    display: grid;
    grid-template-columns: [details] 50% [img] 50%;
    grid-template-areas:
      "prod-name prod-name"
      "prod-details prod-img";

    .name {
      grid-area: prod-name;
    }
    .details {
      grid-area: prod-details;
    }
    .img {
      grid-area: prod-img;
    }
  }
  .price {
    font-weight: bold;
    font-size: 1.3rem;
  }
  p {
    margin: 1rem 0;
  }
  button {
    margin: 1rem 0;
  }
}
