<div class="hero">
  <div class="content">
    <h1>Hero Title</h1>
    <!-- <svg><path d="M0 56.0002C0 56.0002 90.5 86.5 183.5 34.5C276.5 -17.5 375 5.00006 375 5.00006V138H0V56.0002Z" fill="black" /></svg> -->
  </div>
</div>
<div class="products">
  <div *ngIf="products.length === 0"></div>
  <div class="item" *ngFor="let product of products">
    <div class="item-wrap">
      <div class="name">
        <h4>{{ product.name }}</h4>
      </div>
      <div class="details">
        <div class="price">${{ product.price }}</div>
        <div><strong>Items remaining:</strong> {{ product.quantity }}</div>
        <p>
          {{ product.description }}
        </p>
        <button>Buy product</button>
      </div>
      <div class="img">
        <img src="{{ product.imageUrl }}" />
      </div>
    </div>
  </div>
</div>
<div class="content">
  <button (click)="firstPage()">First</button>
  <button (click)="previousPage()">Previous</button>
  <button (click)="nextPage()">Next</button>
  <button (click)="lastPage()">Last</button>
</div>
